<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96234853311-ks8c2sua0pko5466pd5qp54qpvv7kcck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96234853311-ks8c2sua0pko5466pd5qp54qpvv7kcck</string>
	<key>API_KEY</key>
	<string>AIzaSyCzDL4B6mla7WUvbhqJPw5ZF7OS77_qvxM</string>
	<key>GCM_SENDER_ID</key>
	<string>96234853311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.tvergho.frequency</string>
	<key>PROJECT_ID</key>
	<string>frequency-2e83f</string>
	<key>STORAGE_BUCKET</key>
	<string>frequency-2e83f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96234853311:ios:3521640bafe94b671ac70a</string>
	<key>DATABASE_URL</key>
	<string>https://frequency-2e83f.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4718121180654248~1789257761</string>
</dict>
</plist>